@model OnlineHelpDesk.Models.UserRegistration;

@if (TempData["LoginMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["LoginMessage"]
    </div>
}
@if (TempData["LoginError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["LoginError"]
    </div>
}


<!-- Page Header Start -->
<div class="container-fluid page-header pt-5 mb-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container col-12 text-center pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bg-white p-5">
                    <h1 class="display-6 text-uppercase mb-3 animated slideInDown">Login</h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Login">Login</a></li>
                            <li class="breadcrumb-item" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!----------Form Start -------->
<section class="vh-100" style="background-color: #d39333;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

                                <form method="post" action="Login" class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="email" id="form3Example1c" placeholder="Email" class="form-control" asp-for="UserEmail" />
                                            <span asp-validation-for="UserEmail" class="form-label"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example1c" placeholder="Password" class="form-control" asp-for="UserPassword" />
                                            <span asp-validation-for="UserPassword" class="form-label"></span>
                                        </div>
                                    </div>


                                 
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class=" col-6 btn btn-primary d-md-block rounded-1">Login</button>
                                    </div>
                                    <p class="text-center">New in this site ? <a asp-controller="Home" asp-action="Registration"> Create New Account</a></p>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!----------Form End -------->
